@using Mvc01.Models
@model Machine

@{
    ViewBag.Title = "Machines";
}

<h2>Machines</h2>




@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    Total Amount <strong>@Model.TotalAmount</strong>

</div>


